*{
    font-family: Montserrat;
    padding: 0;
    margin: 0;
}

header {
    height: 100px;
    background-color: black;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;


}
header a img {

    height: 32px;





}

#frontbody{
    background-image: url("img/backgroundpic.jpg");
    background-size: cover;
    background-attachment: fixed;



}
nav {
    text-decoration: none;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 55px;
    padding-right: 55px;


}
nav a{
    text-decoration: none;
    color: white;
    padding-top:45px;

}
main{
    min-height: 500px;
    min-width: 500px;
    height: auto;
    width: 100%;


}
#frontmain{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 300px;
    margin-bottom: 300px;
    position: fixed;



}
#frontmain h1{
    font-size: 100px;
    margin-bottom: 40px;
    text-align: center;

}
#frontmain p{
    font-size: 20px;
    font-weight: lighter;
    width: 40vw;
    margin-top: 0px;
    text-align: center;

    padding-top: 50px;
}#spacehoder{
    width: 20vw;
    height: 20px;
     border-top: 1pt black dotted;

 }
#frontinfo{
    margin-top: 800px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

#jsonmain{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 300px;
    margin-bottom: 300px;
    position: fixed;

}
#aboutbody{
    background-image: url("img/aboutus.jpg");
    background-size: cover;
    background-attachment:scroll ;
}

#aboutarticle{

    display: flex;
    flex-direction: row;
    padding: 30px;
}

.aboutsec{
    margin: 20px 250px;
}
.aboutsec h3{
    font-size: xxx-large;
    margin-bottom: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.aboutsec p{
    width: 20vw;
    text-align: justify;
    hyphens: auto;
    font-weight: lighter;
}

#loginmain{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 300px;
    margin-bottom: 300px;
    position: fixed;
}

#aboutmain{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 300px;
    position: fixed;
}
 footer{
     height: 20px;
     background-color: black;
     padding: 20px;
     color: white;
     position: fixed;
     bottom: 0px;
     width: 100%;

 }
