*{
    font-family: Montserrat;
    padding: 0;
    margin: 0;
}

header {
    height: 100px;
    background-color: black;
    text-align: center;

    top: 0;
    width: 100%;
}
header a img {

    height: 32px;

}

#frontbody{
    background-image: url("img/backgroundpic.jpg");
    background-size: cover;
    background-attachment: fixed;

}
nav {
    text-decoration: none;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 55px;
    padding-right: 55px;


}
nav a{
    text-decoration: none;
    color: white;
    padding-top: 35px;


}
nav a li{
    padding-top: 10px;
}
main{
    min-height: 500px;
    min-width: 500px;
    height: auto;
    width: 100%;
    padding: 20px;


}
#frontmain{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 300px;
    margin-bottom: 300px;




}
#loginmain h1{
    font-size: 120pt;
    padding-bottom: 20px;


}
#frontmain h1{
    font-size: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left:40px;
    margin-right: 40px;
    text-align: center;

}
#frontmain p{
    font-size: 20px;
    font-weight: lighter;
    width: 40vw;
    margin-top: 0px;
    text-align: center;

    padding-top: 50px;
}#spacehoder{
    width: 20vw;
    height: 20px;
     border-top: 1pt black dotted;

 }
#frontinfo{
    margin-top: 800px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
#jsonbody{
    background-image: url("img/backgroundjson.jpg");
background-size: cover;
background-attachment:scroll ;
}
#jsonmain{

    color: white;
display: flex;
    flex-direction: column;

padding-top:10vw;



}
#jsonmain p{
    font-size: large;
}
#jsonmain h2{
margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.customer-content{
    justify-content: center;
    padding-top: 10vw;


;
}
#Titeljson{
    font-size: xxx-large;
    color: white;
}
.customer-section{
display: flex;
    flex-direction: row;
    justify-content: space-evenly;


                                 }
.customer-section h3{
    padding-bottom: 30px;
    font-size: x-large;

}
#aboutbody{
    background-image: url("img/aboutus.jpg");
    background-size: cover;
    background-attachment:scroll ;
}

#aboutarticle{

    display: flex;
    flex-direction: row;
    padding: 30px;
}

.aboutsec{
    width: 30vw;
    margin: 40px;
}
.aboutsec h3{
    font-size: xxx-large;
    margin-bottom: 30px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.aboutsec p{

    text-align: justify;
    hyphens: auto;
    font-weight: lighter;
}

#loginmain{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 200px;
    margin-bottom: 300px;
    position: fixed;
}
#loginmain h1{
    border-bottom: dotted black 1pt;
    padding-bottom: 15px;
}

#aboutmain{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 300px;
    position: fixed;

}
.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    font-size: large;
    line-height: 1.8em;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}


.container input {
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 50px;

}

 footer{
     height: 20px;
     background-color: black;
     padding: 20px;
     color: white;
     position: fixed;
     bottom: 0px;
     width: 100%;

 }
@media screen and (min-width: 400px) and (max-width: 1000px){
    .customer-section{
    display: flex;
    flex-direction: column;
        align-items: center;

}

#jsonmain h3{
    padding-top: 30px;

}
    #aboutarticle{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        font-size: smaller;

    }
.aboutsec{
    margin: 10px;
    width: 50vw;
}
    #frontmain h1{
        font-size: 12vw;
    }
}